@font-face {
  font-family: 'NanumSquare Bold';
  src: url('../assets/font/NanumSquareB.ttf');
  font-weight: 700;
  font-display: swap;
}

@font-face {
  font-family: 'NanumSquare Extra Bold';
  src: url('../assets/font/NanumSquareEB.ttf');
  font-weight: 800;
  font-display: swap;
}

@font-face {
  font-family: 'NanumSquare';
  src: url('../assets/font/NanumSquareR.ttf');
  font-weight: 400;
  font-display: swap;
}

@font-face {
  font-family: 'NanumSquare Light';
  src: url('../assets/font/NanumSquareL.ttf');
  font-weight: 300;
  font-display: swap;
}